.context-menu-bk{
    z-index: 2;
    position: absolute;
    &__close{
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
}

.context-menu-bk__list{
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 10px 15.68px 0.32px rgba(0, 0, 0, 0.21);

    list-style: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    transition: opacity 0.4s linear;
    li{
        padding: 22px 28px;

        &:hover{
            background-color: #c6c6c6;
            cursor: pointer;
        }
        &:last-child .line{
            display: none;
        }
        .line{
            background-color: #c6c6c6;
            height: 2px;
            position: relative;
            bottom: -23px;
            margin: 0 -15px;
        }
    }

}
