.backdrop{
  position: fixed;
  z-index:1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.21);
  padding: 15px;
  position: absolute;
  z-index: 2;
  &__body{
    display: flex;
    flex-direction: column;
    &__row{
      display: flex;
      justify-content: space-between;
      margin: -5px;
      &__clm{
        padding: 5px;
      }
    }
    &__avatar{
      width: 128px;
      height: 128px;
    }
    &__name{
      font-size: 16px;
      letter-spacing: inherit;
      font-weight: 700;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }
    &__email, &__website{
      margin-bottom: 2px;
    }
  }
  &__footer{
    text-align: right;
    margin-top: 35px;
    button:not(:last-child){
      margin-right: 20px
    }
  }
  .edit{
    box-shadow: inset 0px 0px 2px 1px #000000
  }
}