.btn {
  border-width: 1px;
  border-color: rgb(149, 149, 149);
  border-style: solid;
  background-color: rgb(226, 226, 226);
  font-size: 18px;
  letter-spacing: inherit;
  padding: 10px 15px 10px 15px;
}
