@header_background_color: #c6c6c6;
@header_text_color: #000;
@table_background_color: #e2e2e2;
@alternate_row_background_color: #d3d3d3 ;

@table_width: 960px;
@table_height: 530px;
@table_body_height: 500px;
@column_one_width: 300px;
@column_two_width: 260px;
@column_three_width: 100%;

.fixed_headers {
  max-width: @table_width;
  max-height: @table_height;
  background-color: @table_background_color;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 18px;


  th, td {
    word-break: break-all;
    text-align: left;
    padding-left: 10px;
  }

  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; box-sizing: border-box; }
  td:nth-child(1) { padding-left: 20px; }

  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }

  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }

  thead {
    color: @header_text_color;
    tr {
      display: block;
      position: relative;
      background-color: @header_background_color;
      margin: 6px 6px 2px 6px;
      height: 45px;
      box-sizing: border-box;
      padding: 10px 0 5px;
    }
    .th-sort{
      display: flex;
      &__name{
        margin-right: 10px;
      }
    }
    th {
      font-weight: normal;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    max-height: @table_body_height;
    padding: 16px 6px 0 6px;
    tr {
      background-color: @alternate_row_background_color;
      border-bottom: 4px solid @table_background_color;
    }
    td {
      height: 40px;
    }
  }
}