body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
  padding-top: 55px;
  .player-name {
    color: #3755b1;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.table-cnl{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  &__label{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name{
    font-size: inherit;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    width: 230px;
    letter-spacing: inherit;
    margin-left: 15px;
    margin-right: 15px;
  }
  &__checkbox{
    margin-right: 40px;
    width: 25px;
    height: 25px;
  }

}
